{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% from 'bootstrap/form.html' import render_form %}
{% import "bootstrap/wtf.html" as wtf %}

{% block html_head %}
  <style type="text/css">
    .important {
      color: #336699;
    }
  </style>
  <link type="text/css" rel="stylesheet"
      href="{{ url_for('static', filename='table_styles.css')}}" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block content %}

<p> Messages received without response: </p>

<div class="tbl">
{% for table in message_tables %}
            {{message_titles[loop.index]}}
            {{ table | safe}}
{% endfor %}
</div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#datepick').datetimepicker();
    });
  </script>
{% endblock %}